body {
  background-color: #272727;
}

.ReactModal__Overlay {
  transition: transform 300ms ease-in-out;
  transition-delay: 100ms;
  transform: scale(0);
}

.ReactModal__Overlay--after-open{
  transform: scale(1);
}

.ReactModal__Overlay--before-close{
  transform: scale(0);
}

.App-header {
  font-family: 'Krona One', sans-serif;
}

@media (min-width: 600px) {

}